@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
 <section class="breadcrumb">
        <div class="container">
            <div class="main-nav">
                <a href="/">Home</a>
                <a href="/news">News</a>
            </div>
            <h1 class="big-titles">@Model.Value("pageTitle")</h1>        
        </div>
        <img src="./static/images/background-lines.svg">
    </section>