@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="bottom-info">
    <div class="container">
        <div class="content">
            <div class="content-header"><img src="./static/images/logotype-white.svg">
                <p class="content-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid vitae repellat ullam minus, 
                    natus ducimus excepturi consequuntur consectetur quia quisquam, sunt doloribus!                     
                </p>                
            </div>
            
            <div class="content-header"><h2>Company</h2>
                <div class="content-link">About</div>
                <div class="content-link">Features</div>
                <div class="content-link">Works</div>
                <div class="content-link">Career</div>
            </div>
            <div class="content-header"><h2>Help</h2>
                <div class="content-link">Customer Support</div>
                <div class="content-link">Delivery Details</div>
                <div class="content-link">Terms & Conditions</div>
                <div class="content-link">Private Policy</div>
            </div>
            <div class="content-header"><h2>Resources</h2>
                <div class="content-link">Free eBooks</div>
                <div class="content-link">Development Tutorial</div>
                <div class="content-link">How to - Blog</div>
                <div class="content-link">Youtube Playlist</div>
            </div>
            <div class="content-header"><h2>Link</h2>
                <div class="content-link">Free eBooks</div>
                <div class="content-link">Development Tutorial</div>
                <div class="content-link">How to - Blog</div>
                <div class="content-link">Youtube Playlist</div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-text"><i class="fa-regular fa-copyright"></i> 2023 Crito - Consulting Company Inc. All Rights Reserved.</div>
        <div class="socials">
            <div class="soc-links"><i class="fa-brands fa-facebook"></i></div>
            <div class="soc-links"><i class="fa-brands fa-x-twitter"></i></div>
            <div class="soc-links"><i class="fa-brands fa-instagram"></i></div>
            <div class="soc-links"><i class="fa-brands fa-linkedin"></i></div>
        </div>
    </div>
</footer>